* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
      to bottom left,
      grey 0%,
      grey 50%,
      white 0% ,
      white 50%);
  }
  .watermark-container {
    position: relative;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;

  }
  
  header {
    background-color: rgb(52, 50, 50);
    padding: 10px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  img:hover {
    border: 2px solid rgb(43, 42, 42);
    max-width: 100%;
    height: auto;
  }
  

  .picture {
    width: 500px;
    margin: 1px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
  }
  
  .social-icons a i {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
  